<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252774069430-3sjpgu2a0ftav51vrro7vvu9l4jtgs0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252774069430-3sjpgu2a0ftav51vrro7vvu9l4jtgs0j</string>
	<key>API_KEY</key>
	<string>AIzaSyCcqosVC2lamYV38W1jOhcyVFrfsXENEsA</string>
	<key>GCM_SENDER_ID</key>
	<string>252774069430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Expense-Manager</string>
	<key>PROJECT_ID</key>
	<string>expence-manager-app-project</string>
	<key>STORAGE_BUCKET</key>
	<string>expence-manager-app-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252774069430:ios:6c9fb9d5c69b4366a9a217</string>
</dict>
</plist>